WS_PROVIDER=ws://127.0.0.1:9944

MNEMONIC=bottom drive obey lake curtain smoke basket hold race lonely fit walk

CONTRACT=0x48550a4bb374727186c55365b7c9c0a1a31bdafe
METADATA=./incrementer.contract

PORT=3000

GITHUB_SECRET=my-secret
